<!DOCTYPE html>
<html>
<head>
    <title>Beat | Dancing Competition</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/slideshow.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/slidenav.min.css">
    


    <!-- <link rel="stylesheet" type="text/css" href="/css/uikit.min.css">
    <link rel="stylesheet" type="text/css" href="/css/slideshow.css">
    <link rel="stylesheet" type="text/css" href="/css/slidenav.css"> -->


    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/muikit.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="main">
        <div class="container">
            <div class="registration-container ">
                <h1 class="registration-heading">¡DANCE CHALLENGE!</h1>
                <ul class="main-points">
                    <li>
                        <div>
                            <h1>1</h1>
                            <p>Junta a tus amigos (máximo 5 personas)</p>
                        </div>
                    </li><li>
                        <div>
                            <h1>2</h1>
                            <p>Grábense bailando a su estilo la canción  “Mais que nada”</p>
                        </div>
                    </li><li>
                        <div>
                            <h1>3</h1>
                            <p>Completen el formulario, suban su video, acepten  los términos, condiciones y aviso de privacidad.</p>
                        </div>
                    </li><li>
                        <div>
                            <h1>4</h1>
                            <p>Recibe tu confirmación de  participación y preparate para  conseguir la mayor cantidad de votos</p>
                        </div>
                    </li><li>
                        <div>
                            <h1>5</h1>
                            <p>Los videos más votados ganaran pases para los mejores festivales de música</p> 
                        </div>
                    </li>
                </ul>
                <div class="tabs-container">
                    <ul class="uk-tab uk-tab-grid"  data-uk-tab="{connect:'#my-id'}">
                        <li class="uk-active uk-width-1-2"><a href="">REGISTRA A TU EQUIPO</a></li>
                        <li class="uk-width-1-2"><a href="">INGRESA A TU PERFIL</a></li>
                    </ul>
                </div>
                

                <ul id="my-id" class="uk-switcher uk-margin">
                    <li class="main-registring-container">
                        <form id="registerTeam" method="post" action="/team/register" enctype="multipart/form-data">
                            <div class="sliding-containers">
                                <div class="child-container active">
                                        <p class="label">Nombre del equipo</p>
                                        <input type="text" class="uk-input required team-name" name="teamName">
                                        <br />
                                        <button class="uk-button uk-button-primary continue team-name-continue" type="button">CONTINUAR</button>
                                </div>
                                <div class="child-container">
                                        <p class="label">Representante del equipo</p>
                                        <input type="" class="uk-input required" name="representativeName">
                                        <p class="label">Integrantes del equipo</p>
                                        <input type="text" class="uk-input" name="teamMemberName">
                                        <input type="text" class="uk-input" name="teamMemberName">
                                        <input type="text" class="uk-input" name="teamMemberName">
                                        <input type="text" class="uk-input" name="teamMemberName">
                                        <br />
                                        <button class="uk-button uk-button-primary continue" type="button">CONTINUAR</button>
                                </div>
                                <div class="child-container ">
                                        <p class="label">Correo electrónico del representante</p>
                                        <input type="email" class="uk-input required" name="teamRepresentativeEmail">
                                        <p class="label">Teléfono de contacto del representante</p>
                                        <input type="email" class="uk-input required" name="teamRepresentativeNumber" placeholder="10 digitos">
                                        <br />
                                        <button class="uk-button uk-button-primary continue" type="button">CONTINUAR</button>                                
                                </div>
                                <div class="child-container">
                                        <p class="label">Estado</p>
                                        <div class="select-container">
                                            <select type="" class="uk-input" name="state">
                                                <option value="Mexico City">Mexico City</option>
                                                <option value="Puebla">Puebla</option>
                                            </select>
                                        </div>
                                        <p class="label">Ciudad</p>
                                        <div class="select-container">
                                            <select type="" class="uk-input" name="city">
                                                <option value="Mexico City">Mexico City</option>
                                                <option value="Puebla">Puebla</option>
                                            </select>
                                        </div>
                                        <br />
                                        <button class="uk-button uk-button-primary continue" type="button">CONTINUAR</button>
                                </div>
                                <div class="child-container">
                                        <p class="label">Carga tu video</p>
                                        <input type="file" class="uk-input required" name="video" placeholder="Busar archivo" id="video">
                                        <p>Tu video debe durar máximo 1 min.</p>
                                        <p>Formatos aceptables <b>mov</b> y <b>mp4</b></p>
                                        <br />
                                        <p class="label">Estas por completar tu formulario de registro.</p>
                                        <div class="checkbox-container">
                                            <input type="checkbox" id="privacyPermission" name="privacyPermission" value="privacyPermission" style="width:initial;" class="uk-checkbox checkbox-required">
                                            <label for="coding">Acepto el aviso de privacidad</label>
                                            </br>
                                            <input type="checkbox" id="termsAndConditions" name="termsAndConditions" value="termsAndConditions" style="width:initial;" class="uk-checkbox checkbox-required">
                                            <label for="coding">Acepto los términos y condiciones</label>
                                        </div>
                                        <br />
                                        <button class="uk-button uk-button-primary submitRegistrationForm" type="button">CONFIRMAR REGISTRO</button>
                                </div>
                                
                                <div class="child-container ">
                                        <p class="label">En los próximos 20 min. <br />recibirás un correo electrónico <br />con la confirmación de tu registro.</p>
                                        <p class="label">En el correo electrónico<br /> de confirmación encontrarás<br /> las instrucciones de<br /> las siguientes etapas<br /> de tu participación.</p>
                                        <p class="label">¡ Muchas gracias por<br /> tu participación !</p>
                                </div>
                                <div class="dotnav">
                                    <ul>
                                        <li class="active dot1"></li>
                                        <li class="dot2"></li>
                                        <li class="dot3"></li>
                                        <li class="dot4"></li>
                                        <li class="dot5"></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="main-login-container">
                        <div class="sliding-containers">
                            <div class="child-container active">
                                <form>
                                     <p class="label">Usuario</p>
                                    <input type="text" class="uk-input" name="username">
                                    <p class="label">Contraseña</p>
                                    <input type="text" class="uk-input" name="password">
                                    <br />
                                    <a href="/userdashboard"><button class="uk-button uk-button-primary" type="button" >CONTINUAR</button></a>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
                
            </div>
            
        </div>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-validation/dist/jquery.validate.min.js"></script> 
    <!-- <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/uikit.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.js"></script> -->
    <script type="text/javascript" src="/js/main.js"></script>
    <!-- <script type="text/javascript" src="/js/slideshow.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/slideshow.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            /*$("#registerTeam").submit(function(e){
                console.log("working");
                var self = $(this);
                console.log(self.serialize());
                $.ajax({
                    url:"/team/register",
                    method:"POST",
                    data:self.serialize(),
                    success:function(data){

                    },
                    error:function(err){

                    }
                })
                e.preventDefault();
                return false;
            })*/
            $(".submitRegistrationForm").click(function(){
                var error = false;
                $(".checkbox-required").each(function(){
                    var self = $(this);
                    var video = $("#video");
                    if(document.getElementById("video").files.length == 0){
                        error=true;
                        if(!video.next().hasClass("validation")){
                            video.after("<div class='validation' style='color:red;margin-bottom: 20px;'>Please upload a video</div>");
                        }
                    }

                    if(self.is(":checked")){

                    }
                    else
                    {
                        if(!self.next().next().hasClass("validation")){
                            self.next().after("<div class='validation' style='color:red;margin-bottom: 20px;'>This field is required to be checked</div>");
                        }
                        error=true;
                    }
                })

                if(!error){
                    $('#registerTeam').submit();
                }
               
            })
            var x = 1;
            $(".child-container .continue").click(function(e){
                var error = false;
                var self = $(this);
                self.parent().find('.required').each(function(){
                    var self = $(this);
                    if(self.val().trim() == ""){
                        if(!self.next().hasClass("validation")){
                            self.after("<div class='validation' style='color:red;margin-bottom: 20px;'>This field is required</div>");
                        }
                        error = true;
                    }
                });
                if(!error)                
                {
                    x++;
                    if(x<6){
                        $(".dot"+x).addClass("active");
                    }
                    self.parent().removeClass("active");
                    self.parent().next().addClass("active");
                }
            })


            var textInput = $(".team-name");
            var timeout = null;
            textInput.on('keypress', function (event) {
                var regex = new RegExp("^[a-zA-Z0-9]+$");
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                if (!regex.test(key)) {
                   event.preventDefault();
                   return false;
                }
            });

            textInput.keyup(function(){
                clearTimeout(timeout);
                $(".team-name-continue").prop('disabled', true);
                // Make a new timeout set to go off in 800ms
                timeout = setTimeout(function () {
                    if(textInput.val().trim() != ""){
                        console.log('Input Value:', textInput.val());
                        

                        $.ajax({
                            url:"/team/checkTeamName",
                            method:"POST",
                            data:{team:textInput.val()},
                            success:function(data){
                                if(textInput.next().hasClass("validation-check")){
                                    textInput.next().remove();
                                }
                                if(data){
                                    textInput.after('<i class="validation-check fa fa-check green"></i>');
                                    $(".team-name-continue").prop('disabled', false);
                                    textInput.css("border-color","#399931");

                                }
                                else
                                {
                                    textInput.after('<i class="validation-check fa fa-times red"></i>');
                                    $(".team-name-continue").prop('disabled', true);
                                    textInput.css("border-color","red");

                                }
                                console.log(data);
                            },
                            error:function(err){
                                console.log(err)
                            }
                        })
                    }
                    
                }, 500);
            })

            


        })

    </script>
</body>
</html>