<!DOCTYPE html>
<html>
<head>
    <title>Beat | Dancing Competition</title>
    <% include includes/header.ejs %>
</head>
<body>
     <div class="main">
        <div class="container">
            <div class="registration-container ">
                <h1 class="registration-heading">¡DANCE CHALLENGE!</h1>
                <ul class="main-points">
                    <li>
                        <div>
                            <h1>1</h1>
                            <p>Junta a tus amigos <br>(máximo 5 personas).</p>
                        </div>
                    </li><li>
                        <div>
                            <h1>2</h1>
                            <p>Grábense bailando a su estilo alguna de las 3 pistas oficiales. <a target="_blank" href="https://www.youtube.com/playlist?list=PLBlJWsvSG-QRM7_Fp8tuqXB0B2KVrmHN6">(escúchalas aquí)</a></p>
                        </div>
                    </li><li>
                        <div>
                            <h1>3</h1>
                            <p>Completen el formulario, suban el video, acepten los <a href="#terminos" rel="modal:open">Términos y condiciones</a> y el <a href="#aviso" rel="modal:open">Aviso de privacidad.</a></p>
                        </div>
                    </li><li>
                        <div>
                            <h1>4</h1>
                            <p>Recibe tu confirmación de  participación y prepárate para  conseguir la mayor cantidad de votos.</p>
                        </div>
                    </li><li>
                        <div>
                            <h1>5</h1>
                            <p>Los videos más votados podrán ganar pases para el festival <b>Primavera Club en Barcelona</b> (1 er lugar) y <b>MUTEK en Ciudad de México</b> (2º y 3er lugar)*.</p>
                        </div>
                    </li><li>
                        <div>
                            <h1>6</h1>
                            <p>El periodo de votación se activará del <b>3 al 5 de octubre</b>, así que mantente pendiente e informa a tus amigos.</p>
                        </div>
                    </li>
                </ul>
                <div>
                <h1>PISTAS OFICIALES</h1>
                  <iframe width="360" height="210" src="https://www.youtube.com/embed/nA52vNSMRKs" frameborder="0" allowfullscreen></iframe>
                  <iframe width="360" height="210" src="https://www.youtube.com/embed/hi5Zu3978k4" frameborder="0" allowfullscreen></iframe>
                  <iframe width="360" height="210" src="https://www.youtube.com/embed/L7AnI_RHnLc" frameborder="0" allowfullscreen></iframe> 
                </div>
                <div class="tabs-container">
                                         ⁠⁠
                  <hr>
                    <ul class="uk-tab uk-tab-grid"  data-uk-tab="{connect:'#my-id'}">
                        <li class="uk-active uk-width-1-2"><a href="">REGISTRA A TU EQUIPO</a></li>
                        <li class="uk-width-1-2"><a href="">INGRESA A TU PERFIL</a></li>
                    </ul>
                </div>


                <ul id="my-id" class="uk-switcher uk-margin">
                    <li class="main-registring-container">
                        <form id="registerTeam" method="post" action="/team/register" enctype="multipart/form-data">
                            <div class="sliding-containers">
                                <div class="child-container active">
                                        <p class="label">Nombre del equipo</p>
                                        <p><small>El nombre de tu equipo debe ser sin espacios</small></p>
                                        <input type="text" class="uk-input required team-name validthis" name="teamName" id="teamName" required>
                                        <br />
                                        <button class="uk-button uk-button-primary continue team-name-continue" type="button" disabled>CONTINUAR</button>
                                </div>
                                <div class="child-container one ">
                                        <p class="label">Nombre completo del represente del equipo</p>
                                        <div>
                                            <input type="text" class="uk-input required validthis" name="representativeName" placeholder="Nombres(s)" required>
                                            <input type="text" class="uk-input required validthis" name="representativeLastName" placeholder="Apellidos"  required>
                                        </div>
                                        <p class="label">Nombre completo de cada uno de los integrantes de tu equipo</p>
                                        <div>
                                            <input type="text" class="uk-input " name="teamMemberName" placeholder="Nombres(s)"  >
                                            <input type="text" class="uk-input " name="teamMemberLastName" placeholder="Apellidos"  >
                                        </div>
                                        <div>
                                            <input type="text" class="uk-input " name="teamMemberName" placeholder="Nombres(s)"  >
                                            <input type="text" class="uk-input " name="teamMemberLastName" placeholder="Apellidos"  >
                                        </div>
                                        <div>
                                            <input type="text" class="uk-input " name="teamMemberName" placeholder="Nombres(s)"  >
                                            <input type="text" class="uk-input " name="teamMemberLastName" placeholder="Apellidos"  >
                                        </div>
                                        <div>
                                            <input type="text" class="uk-input " name="teamMemberName" placeholder="Nombres(s)"  >
                                            <input type="text" class="uk-input " name="teamMemberLastName" placeholder="Apellidos"  >
                                        </div>
                                        <br />
                                        <button class="uk-button uk-button-primary continue" type="button">CONTINUAR</button>
                                </div>
                                <div class="child-container two">
                                        <p class="label">Correo electrónico del representante</p>
                                        <input type="email" class="uk-input required validthis" name="teamRepresentativeEmail" placeholder="correo@tucorreo.com" required>
                                        <p class="label">Teléfono de contacto del representante</p>
                                        <input type="text" class="uk-input required validthis" name="teamRepresentativeNumber" placeholder="10 digitos" required minlength="10" maxlength="10">
                                        <br />
                                        <button class="uk-button uk-button-primary continue" type="button">CONTINUAR</button>
                                </div>
                                <div class="child-container three">
                                        <p class="label">Estado</p>
                                        <div class="select-container">
                                            <select type="" class="uk-input" id="stateNames" name="state">
                                                <option value="">Selecciona un estado</option>
                                                <option value="Aguascalientes">Aguascalientes</option>
                                                <option value="Baja California">Baja California</option>
                                                <option value="Baja California Sur">Baja California Sur</option>
                                                <option value="Campeche">Campeche</option>
                                                <option value="Chiapas">Chiapas</option>
                                                <option value="Chihuahua">Chihuahua</option>
                                                <option value="Ciudad de México">Ciudad de México</option>
                                                <option value="Coahuila">Coahuila</option>
                                                <option value="Colima">Colima</option>
                                                <option value="Durango">Durango</option>
                                                <option value="Guanajuato">Guanajuato</option>
                                                <option value="Guerrero">Guerrero</option>
                                                <option value="Hidalgo">Hidalgo</option>
                                                <option value="Jalisco">Jalisco</option>
                                                <option value="Mexico">Mexico</option>
                                                <option value="Michoacan">Michoacan</option>
                                                <option value="Morelos">Morelos</option>
                                                <option value="Nayarit">Nayarit</option>
                                                <option value="Nuevo Leon">Nuevo Leon</option>
                                                <option value="Oaxaca">Oaxaca</option>
                                                <option value="Puebla">Puebla</option>
                                                <option value="Queretaro">Queretaro</option>
                                                <option value="Quintana Roo">Quintana Roo</option>
                                                <option value="San Luis Potosi">San Luis Potosi</option>
                                                <option value="Sinaloa">Sinaloa</option>
                                                <option value="Sonora">Sonora</option>
                                                <option value="Tabasco">Tabasco</option>
                                                <option value="Tamaulipas">Tamaulipas</option>
                                                <option value="Veracruz">Veracruz</option>
                                                <option value="Yucatan">Yucatan</option>
                                                <option value="Zacatecas">Zacatecas</option>
                                            </select>
                                        </div>
                                        <p class="label">Ciudad</p>
                                        <div class="select-container">
                                            <select type="" class="uk-input" name="city" id="cityNames">
                                                <option value="">Primero selecciona un estado</option>
                                            </select>
                                        </div>
                                        <br />
                                        <button class="uk-button uk-button-primary city-continue continue" type="button" disabled>CONTINUAR</button>
                                </div>
                                <div class="child-container four">
                                        <p class="label">Carga tu video</p>
                                        <div class="loader">
                                        <img src="/images/loader.gif"/>
                                        <p><small>Tu video se está procesando</small></p>
                                        </div>
                                        <div class="video-container">
                                            <div class="main-video">
                                                <video
                                                  id="demo-player"
                                                  controls
                                                  autoplay
                                                  class="cld-video-player"
                                                  data-cld-public-id="">
                                                </video>
                                            </div>
                                            <br />
                                            <div class="video-error">

                                            </div>
                                        </div>
                                        <br />
                                        <input type="file" class="uk-input required validthis" name="video" placeholder="Busar archivo" id="video" required>
                                        <p>Tu video debe durar máximo 30 sec.</p>
                                        <p>Formatos aceptables <b>mov</b> y <b>mp4</b></p>
                                        <p>Únicamente se pueden subir videos en horizontal.</p>
                                        <p>Te recomendamos subir un archivo con un peso no mayor a 30 MB, en caso de ser mayor, no deberán superar los 100 MB. <br />(La velocidad de carga puede variar por el peso de tu video y/o conexión de internet).</p>
                                        <br />
                                        <p class="label">Estás por completar tu formulario de registro.</p>
                                        <div class="checkbox-container">
                                            <input type="checkbox" id="privacyPermission" name="privacyPermission" value="privacyPermission" style="width:initial;" class="uk-checkbox checkbox-required validthis" required>
                                            <label for="coding">Acepto el <a href="#aviso" rel="modal:open">aviso de privacidad</a></label>
                                            </br>
                                            <input type="checkbox" id="termsAndConditions" name="termsAndConditions" value="termsAndConditions" style="width:initial;" class="uk-checkbox checkbox-required validthis" required>
                                            <label for="coding">Acepto los <a href="#terminos" rel="modal:open">términos y condiciones</a></label>
                                        </div>
                                        <br />
                                        <button class="uk-button uk-button-primary submitRegistrationForm" type="button" disabled>CONFIRMAR REGISTRO</button>
                                </div>

                                <div class="child-container five">
                                        <p class="label">En los próximos 20 min. <br />recibirás un correo electrónico <br />con la confirmación de tu registro.</p>
                                        <p class="label">En el correo electrónico<br /> de confirmación encontrarás<br /> las instrucciones de<br /> las siguientes etapas<br /> de tu participación.</p>
                                        <p class="label">¡ Muchas gracias por<br /> tu participación !</p>
                                </div>
                                <div class="dotnav">
                                    <ul>
                                        <li class="active dot1"></li>
                                        <li class="dot2"></li>
                                        <li class="dot3"></li>
                                        <li class="dot4"></li>
                                        <li class="dot5"></li>
                                    </ul>
                                </div>
                            </div>
                            <input type="hidden" name="video_url" id="video-url-input" value="">
                            <input type="hidden" name="duration" id="duration" value="">
                            <input type="hidden" name="public_id" id="public_id" value="">
                        </form>
                    </li>
                    <li class="main-login-container">
                        <div class="sliding-containers">
                            <div class="child-container active">
                                <form action="/team/login" method="POST">
                                     <p class="label">Nombre de equipo</p>
                                    <input type="text" class="uk-input" name="teamName">
                                    <p class="label">Contraseña</p>
                                    <input type="password" class="uk-input" name="password">
                                    <br />
                                    <button class="uk-button uk-button-primary" type="submit">CONTINUAR</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div id="aviso" style="display:none;">
    <p>Volkswagen de México, S.A. de C.V., mejor conocido como SEAT MEXICO, con domicilio en Autopista México Puebla km 116, colonia San Lorenzo Almecatla, Cuautlancingo, Puebla, México, C.P. 72700, y portal de internet <a href="www.seat.mx"> www.seat.mx</a> y/o <a href="www.seat-mexico.com.mx"> www.seat-mexico.com.mx</a>, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente: 
    <br>
    <br>
    ¿Para qué fines utilizaremos sus datos personales? 
    <br>
    <br>
    Los datos personales que recabamos de Usted, los utilizaremos para las siguientes finalidades primarias que son necesarias para el servicio/producto que solicita: 
    <br>
    <br>
    • Ser contactado y enviar información respecto a la adquisición de bienes o servicios que se le presten. • Ser contactado para dar seguimiento a sus solicitudes, reclamaciones o para realizar acciones de actualizaciones técnicas de los productos o servicios que hubiese adquirido. • Ser contactado para mantener actualizados nuestros registros. • Para dar cumplimiento a nuestra relación jurídica o a requerimientos legales De manera adicional, utilizaremos su información personal para las siguientes finalidades secundarias que no son necesarias para el servicio/producto solicitado, pero que nos permiten y facilitan brindarle una mejor atención: • Ser contactado y enviar información a fin de conocer el nivel de satisfacción de Usted en relación con la adquisición de bienes o servicios que le hubiesen sido prestados ya sea por SEAT MEXICO o cualquiera de las personas morales que constituyen la Red de Distribuidores Autorizados. • Ser contactado para invitarlo a participar en la evaluación de nuestros procesos de calidad en la atención de clientes • Ser contactado y enviar información para darle a conocer promociones, información de nuestros socios de negocios, ofrecerle nuestros productos o servicios, enviar publicidad, respecto a productos y servicios de cualquiera de las marcas que Volkswagen de México, S.A. de C.V. comercializa, incluyendo servicios financieros o de arrendamiento que ofrecen las empresas de nuestro grupo (controladoras, filiales y subsidiarias), pudiendo realizar acciones comerciales, de mercadotecnia, estadística y de prospección tendiente a dichas finalidades. • Ser contactado para realizar estudios sobre hábitos de consumo, mercadotecnia, publicidad o prospección comercial, analizando su información y realizar estudios de mercado. 
    <br>
    <br>
    En caso de que no desee que sus datos personales sean tratados para estos fines secundarios, desde este momento Usted nos puede comunicar lo anterior a través del siguiente mecanismo: Vía mensajería al domicilio Autopista México Puebla Kilómetro 116, San Lorenzo Almecatla, Cuautlancingo, Puebla. C.P. 72700 o escribiéndonos al correo electrónico <a href="mailto:ProtecciónDeDatosPersonalesVWM@vw.com.mx" >ProtecciónDeDatosPersonalesVWM@vw.com.mx.</a>
    <br>
    <br>
    La negativa para el uso de sus datos personales para estas finalidades secundarias no podrá ser un motivo para que le neguemos los servicios y productos que solicita o contrata con nosotros. Cuando el aviso de privacidad no se haga del conocimiento de Usted de manera directa o personal, Usted cuenta con un plazo de cinco días hábiles para que, de ser el caso, manifieste su negativa para el tratamiento de sus datos personales con respecto a las finalidades que no son necesarias, ni dieron origen a la relación jurídica con nosotros.
    </p>

    </div>
    <div id="terminos" style="display:none;">
        <p style="text-align: center;"><b>BASES DEL CONCURSO:<br>“DANCE CHALLENGE SEAT”</b></p>
        <p>
        Con la finalidad de celebrar el lanzamiento del nuevo modelo Ibiza 2018 de la marca SEAT en México, a partir del 1 de septiembre y hasta el 30 de septiembre del año 2017, VOLKSWAGEN DE MÉXICO, S.A. DE C.V. marca comercial SEAT con domicilio ubicado  en autopista México Puebla, Kilómetro 116, San Lorenzo Almecatla, Cuautlancingo, Puebla, convoca a participar en la dinámica denominada <b>“Dance Challenge SEAT”</b>, misma que se regirá por las presentes bases de participación, términos y  condiciones, y requisitos, al igual que por los procedimientos y/o sistemas establecidos por el "Organizador" para la participación en el sitio oficial <a href="www.seat.mx">www.seat.mx</a> y sus redes sociales correspondientes.
        <br>
        <br>
        <br>
        <b>I. Organizador:</b> 
        <br>
        <br>
        La dinámica denominado <b>“Dance Challenge SEAT”</b> es organizada, operada y administrada bajo la responsabilidad única y exclusiva de Volkswagen de México, S.A. de C.V. marca Comercial SEAT con domicilio ubicado  en autopista México Puebla, Kilómetro 116, San Lorenzo Almecatla, Cuautlancingo, Puebla, CP 72700.
        <br>
        <br>
        <b>II. Vigencia:</b>
        <br>
        <br>
        “Dance Challenge SEAT” entrará en vigencia el día 1 de septiembre del 2017 a las 00:00 horas y terminará el día 30 de septiembre del 2017 a las 24:00 horas, por lo que única y exclusivamente podrán participar aquellas personas que se hayan registrado y cargado su video durante el periodo antes descrito, de no ser así, será inválida e inexistente su participación, sin excepción alguna.
        <br>
        <br>
        La votación por parte del público del “Dance Challenge SEAT” entrará en vigencia del día 3 de octubre a las 00:00 horas y terminará el día 5 de octubre a las 24:00 horas.
        <br>
        <br>
        <b>III. Participantes: </b>
        <br>
        <br>
        Podrán participar en la presente dinámica como solista o como equipo con un máximo de 5 (cinco) personas (en adelante referidos como PARTICIPANTE).
        <br>
        <br>
        Podrá ser PARTICIPANTE el público en general que cumpla con  todos y cada uno de los requisitos establecidos y que acepte incondicionalmente los términos y condiciones de las presentes bases, a saber:
        <br>
        <br>
        <b>a)   Requisitos para los participantes:</b>
        <br>
        <br>
        1.  Ser persona física, mayor de 18 años de edad  y estar en pleno goce y ejercicio de todos sus derechos. <br>
        2.  Ser de nacionalidad mexicana. <br>
        3.  Contar con una identificación oficial vigente. <br>
        4.  Contar con una cuenta de correo electrónica (email) propia. <br>
        5.  Contar con pasaporte con una fecha de expiración posterior al 23 de enero de 2018. <br>
        6.  Haber leído los términos y condiciones de la dinámica. <br>
        7.  No ser empleado ni accionista de  VOLSKWAGEN DE MÉXICO, S.A. DE C.V., VOLKSWAGEN SERVICIOS DE ADMINISTRACIÓN DE PERSONAL, S.A. DE C.V., INSTITUTO PARA FORMACIÓN Y DESARROLLO VOLKSWAGEN, S.C., VOLKSWAGEN SERVICIOS, S.A. DE C.V., VOLKSWAGEN BANK, S.A. INSTITUCIÓN DE BANCA MÚLTIPLE Y VOLKSWAGEN LEASING, S.A. DE C.V o de alguna sociedad de la que VOLKSWAGEN DE MEXICO, S.A. DE C.V. sea parte. <br>
        8.  No ser empelado ni accionista  de Pangea Proyectos S.A. de C.V. y Base 10 S.A. de C.V. <br>
        9.  El participante debe estar de acuerdo con los términos y condiciones de esta dinámica contenidas en estas bases, por lo que se considerará que por el simple  hecho de proporcionar información de acuerdo a la mecánica que se describe a continuación, implica que  acepta de conformidad los términos y condiciones de la Dinámica. <br>
        <br>  
        <br>
        <b>IV. Objetivo:</b>
        <br>
        <br>
        Como motivo del lanzamiento del nuevo Ibiza 2018 de la marca SEAT en México, VOLKSWAGEN DE MÉXICO, S.A. DE C.V. marca SEAT, desea premiar y establecer un contacto con aquellos seguidores de la marca que gustan del modelo Ibiza y de su concepto musical. Como muestra de agradecimiento, la marca SEAT ha pensado en dicho concurso. 
        <br>
        <br>
        <b>V. Cobertura del Concurso:</b>
        <br>
        <br>
        a)  <b>Establecimientos donde se llevará a cabo:</b> La dinámica no se llevará a cabo en ningún establecimiento físico. La dinámica se llevará a cabo en el sitios webs <a href="www.seat.mx"> www.seat.mx</a> o <a href="http://www.seat.mx/startmoving"> http://www.seat.mx/startmoving</a>
        <br>
        b)  <b>Cobertura Geográfica: “Dance Challenge SEAT”</b> será válido en todo el territorio de los Estados Unidos Mexicanos.
        <br>
        <br>
        <b>VI. Premios: </b>
        <br>
        <b>a.   Premios para los Ganadores:</b>
        Habrá únicamente tres posiciones ganadoras. Los participantes ganadores se harán acreedores al siguiente premio, de acuerdo a las siguientes posiciones:
        <br>
        <br>
        1.  <b>Primera posición</b>.- Un viaje (ida y retorno ) a Barcelona, España del 18 al 23 de octubre de 2017, el cual incluye:
        <br>
        <br>
        1)  Vuelo ida y vuelta para el solista ganador o equipo ganador (máximo 5 personas) de la primera posición, en vuelo economy class con Origen en la Ciudad de México y con destino a Barcelona, volando del aeropuerto internacional de la Ciudad de México el 18 de octubre de 2017 y con escala por confirmar para transbordar un segundo vuelo a la ciudad de Barcelona el Prat el día 19 de octubre de 2017. Los vuelos de regreso serán el día 23 de octubre de 2017 saliendo de la ciudad de Barcelona con escala   por confirmar y con destino final al aeropuerto internacional de la ciudad de México.
        <br>
        2)  El premio NO incluye el traslado de la ciudad de origen del solista ganador o equipo ganador (máximo 5 personas) al aeropuerto de la Ciudad de México ni el regreso, por lo que este es un gasto que deberá correr por cuenta de los participantes Ganadores. 
        <br>
        3)  4 noches de hospedaje en Barcelona, en hotel para el solista ganador o equipo ganador (máximo 5 personas)
        <br>
        4)  Alimentos y transportación para el solista ganador o equipo ganador (máximo 5 personas).
        <br>
        5)  Asistencia del solista ganador o equipo ganador (máximo 5 personas) al festival musical “Primavera Club” para todos los participantes del equipo ganador (máximo 5 personas), con sede en Barcelona, España, del 20 al 22 de octubre de 2017. Los gastos personales corren por cuenta de los participantes ganadores.
        <br>
        <br>
        2.  <b>Segunda y tercera posición</b>.- El solista ganador o equipo ganador (máximo 5 personas) de estas posiciones se harán acreedores a un pase de entrada al festival musical MUTEK, con sede en la Ciudad de México, del 11 al 15 de octubre de 2017. El traslado, hospedaje y alimentos no está incluido en el premio, por lo que correrán por cuenta del solista ganador o equipo ganador (máximo 5 personas)
        <br>
        <br>
        El solista ganador o equipo ganador (máximo 5 personas)  será acompañado por al menos una persona que grabará los testigos de la experiencia en fotografía y video, y deberán estar comprometidos a participar activamente en el material generado, dando sus opiniones y platicando su experiencia con el objetivo de generar contenido posterior para comunicar a través de las redes sociales oficiales de SEAT México.
        <br>
        <br>
        El solista ganador o equipo ganador registrado (máximo 5 personas)  deberá ser quién acuda a reclamar el premio.
        <br>
        <br>
        El premio no es transferible, ni reembolsable y no podrá intercambiarse por dinero en efectivo ni ningún otro premio.
        <br>
        <br>
        El solista ganador o equipo ganador (máximo 5 personas) deberá cumplir con los requisitos establecidos en el apartado III de las presentes bases.
        <br>
        <br>
        El Organizador se reserva el derecho de sustituir los premios con otros de un valor y calidad similar en cualquier momento sin necesidad de notificación previa alguna en los casos en los que por causas ajenas al Organizador no se puedan entregar los premios originalmente ofrecidos. Los premios no son transferibles, no reembolsables y no podrán intercambiarse por dinero en efectivo ni ningún otro premio.
        <br>
        <br>
        El Organizador (incluyendo sus funcionarios, empleados o agentes) en ningún caso será responsable por los daños y perjuicios que pudieren llegar a ocasionársele a un participante que se relacionen directa o indirectamente con este concurso, incluyendo en forma enunciativa mas no limitativa, (a) de dificultades técnicas o el mal funcionamiento de algún equipo; (b) de cualquier robo, acceso no autorizado o interferencia de cualquier tipo por parte de un tercero; (c) cualquier solicitud de premios que llegue tarde, se pierda, sea alterada, dañada, o dirigida en forma equivocada; o (d) del uso de algún premio.
        <br>
        <br>
        <br>
        <b>VII. Mecánica de participación: </b>
        <br>
        <br>
        A.  Para participar en el “Dance Challenge SEAT” y estar en posibilidades de ganar alguno de los premio referidos en las presentes bases, el participante solista o equipo (máximo 5 personas) deberán:
        <br>
        <br>
        1.  Contar con una cuenta de correo electrónico propio.
        <br>
        <br>
        2.  Entrar a la página web oficial de SEAT México ubicado en www.seat.mx o al sitio web <a href="http://www.seat.mx/startmoving"> http://www.seat.mx/startmoving</a> donde deberá darle clic al banner: “Dance Challenge SEAT” donde deberá registrarse  
        <br>
        <br>
        3.  El registro lo deberá realizar mediante un login vía email y proporcionar los siguientes datos:
        <br>
        <br>
        •   nombre completo del solista participante
        <br>
        •   Pare el caso de participación como equipo (máximo 5 personas), el quipo deberá nombrar a un representante quien será quien realice el registro conforme a las siguientes bases.  
        <br>
        •   Si participa como equipo ( máximo 5 personas) el nombre completo de todos los integrantes del equipo y nombre del equipo
        <br>
        •   Correo electrónico del solista participante o del representante del equipo. 
        <br>
        •   El solista participante o representante del equipo deberá Aceptar los términos y condiciones de la dinámica, así como el aviso de privacidad.
        <br>
        <br>
        4.  Aparecerá una pantalla, en donde el solista participante o equipo participante (máximo 5 personas) deberán elegir una de las piezas musicales disponibles para grabar un video en donde salga(n) bailando la pieza musical seleccionada para participar en la presente dinámica. Es indispensable utilizar una de las tres pistas disponibles para participar, de lo contrario será una causa de descalificación.
        <br>
        <br>
        5.  El solista participante o equipo (máximo 5 personas) debe grabar un video en donde salga(n) bailando la pieza musical seleccionada. Dicho video debe tener las siguientes características:
        a.  Formato de video aceptado: .mp4, .mov
        b.  Duración: Máximo 30 segundos
        <br>
        <br>
        6.  Una vez grabado el video, el solista participante o equipo participante (máximo 5 personas) debe subir el video  al sitio <a href="www.seat.mx/startmoving"> www.seat.mx/startmoving</a> dentro de las fechas comprendidas del 1 al 30 de septiembre del 2017.El 30 de septiembre a las 23:59 se cerrará la liga para subir los videos.
        <br>
        <br>
        7.  Una vez subido el video, se debe hacer clic en el botón “Continuar”. Al presionar este botón se enviará al correo electrónico registrado del participante la confirmación de que sus datos y video han sido registrados en la dinámica.
        <br>
        <br>
        <b>B.   VOTACIÓN</b>
        <br>
        <br>
        1.  Los videos participantes podrán ser votados en <a href="www.seat.mx/startmoving"> www.seat.mx/startmoving</a> a partir del 3 de octubre y hasta las 24:00 hrs del 5 de octubre de 2017.  Durante este período los videos podrán ser votados por el público en general que lleve a cabo los siguientes pasos para la votación: 
        <br>
        <br>
        a.  Entrar a la página web oficial de SEAT México ubicado en www.seat.mx donde estará visible el banner principal con un botón para ingresar a la sección del “Dance Challenge SEAT”. También es posible entrar desde la dirección <a href="www.seat.mx/startmoving"> www.seat.mx/startmoving</a>
        <br>
        b.  Al ingresar, deberá hacer un login vía Facebook o email. 
        <br>
        c.  En el registro con Facebook, el usuario debe conceder permiso a la aplicación para compartir su información pública: nombre de usuario, correo electrónico y fotografía de perfil.
        <br>
        d.  En el registro por email, el usuario debe escribir su nombre completo, edad y correo electrónico, y confirmar en la casilla inferior que acepta los términos y condiciones de la dinámica, así como el aviso de privacidad.
        <br>
        e.  Aparecerá una pantalla, en donde el usuario encontrará todos los videos publicados. En ese mismo sitio, el usuario podrá reproducir los videos y votar por su video favorito. Sólo será posible dar un voto a cada video favorito.
        <br>
        <br>
        <b>C.   GANADORES</b>
        <br>
        <br>
        1.  El solista participante o equipo participante  que obtenga la mayor número de votos de su video, durante los 3 días de votación, será el ganador de la <b><i>primera posición</i></b> haciéndose acreedor a un viaje (ida y retorno ) a Barcelona, España del 18 al 23 de octubre de 2017 en los términos del apartado VI romano de las presentes bases. 
        <br>
        <br>
        2.  El solista participante o equipo participante que logren las posiciones 2 o 3 del ranking de mayores votaciones, serán acreedores a un pase de entrada al festival musical MUTEK, con sede en la Ciudad de México, del 11 al 15 de octubre de 2017 en los términos del apartado VI romano de las presentes bases. 
        <br>
        <br>
        <b>D.   RESULTADOS:</b>
        <br>
        <br>
        1.  A las 12:00 horas del día 6 de octubre de 2017 el Organizador certificará quién de los participantes se hizo acreedor a la primera, segunda o tercera posición de conformidad con el número de votos de haya obtenido el video con el que participaron en la presente dinámica. 
        <br>
        2.  A los ganadores del primero, segundo y tercer lugar se le enviará al correo electrónico proporcionado en el registro, una notificación en la que se le hace saber la posición y premio al que fueron acreedores conforme a las presentes bases. 
        <br>
        3.  La entrega de los premios se realizará conforme a lo estipulado en el apartado denominado “Mecánica para la entrega de los premios” que se  establece en las presentes bases de concurso. 
        <br>
        <br>
        <b>VIII. Mecánica para la entrega de los premios. </b>
        <br>
        <br>
        1.  El 6 de octubre de 2017 el Organizador notificará vía correo electrónico (registrado) al solista o equipo ganador  que ha(n) resultado ganador(es) y el premio al que se ha hecho acreedor. 
        <br>
        2.  Una vez notificado el resultado, el solista o el representante del equipo ganador de la primera posición será contactado por el Organizador con el objetivo de recabar los datos del solista o equipo ganador. 
        <br>
        Para la entrega del premio consistente en un viaje (ida y retorno ) a Barcelona, España del 18 al 23 de octubre de 2017 en los términos del apartado VI romano de las presentes bases, el solista o el representante equipo ganador deberá enviar al correo electrónico que le indique el Organizador, la siguiente información (i).- El nombre completo del solista o de los integrantes del equipo ganador, (ii).- comprobar la mayoría de edad del solista o de los integrantes del equipo ganador mediante el envío de una identificación vigente (INE,  IFE o Pasaporte), (iii).- pasaporte con una fecha de expiración posterior al 23 de enero de 2018 (de él y de todos los integrantes del equipo) y no tener restricciones para salir de México o para ingresar a España.
        <br>
        El organizador no podrá ser considerado responsable por ningún daño o perjuicio ocasionado o que pudiera ocasionarse a los ganadores del premio, a los demás participantes y/o a terceros, en sus personas y/o bienes, debido o en ocasión de la utilización del Premio ofrecido. La responsabilidad del organizador por la entrega de los premios finalizará al ponerlos a disposición de los ganadores correspondientes, y de ninguna manera se extenderá a cualquier otro concepto que no sea expresamente detallado en las presentes bases. Asimismo, serán a cargo de los ganadores todos los gastos extra y/o adicionales, como ser gastos de transporte adicionales a los planeados en el viaje; el organizador no será responsable en caso de insatisfacción por los premios recibidos.
        <br>
        3.  Los premios correspondientes a las posiciones 2 y 3, consistentes en entradas para el festival musical MUTEK en la Ciudad de México, se enviarán a más tardar el día 10 de octubre de 2017 al correo que haya proporcionado el solista o el representante del equipo ganador. 
        <br>
        <br>
        Para la entrega del dichas entradas al festival musical “Mutek”, el solista o los integrantes del equipo ganador deberá: (i).- comprobar su mayoría de edad mediante el envío de una identificación vigente (INE,  IFE o Pasaporte).
        <br>
        El Premio no incluye traslados ni ningún otro servicio o bien distinto del expresamente mencionado en las presentes bases, los que serán a cargo exclusivo del (los) ganador(es). El organizador no podrá ser considerado responsable por ningún daño o perjuicio ocasionado o que pudiera ocasionarse a los ganadores del premio, a los demás participantes y/o a terceros, en sus personas y/o bienes, debido o en ocasión de la utilización del Premio ofrecido. La responsabilidad del organizador por la entrega de los premios finalizará al ponerlos a disposición de los ganadores correspondientes, y de ninguna manera se extenderá a traslados, seguros o cualquier otro concepto que no sea expresamente detallado en las presentes bases. Asimismo, serán a cargo de los ganadores todos los gastos extra y/o adicionales, como ser gastos de transporte, en que los ganadores puedan incurrir para recibir su premio y para hacer uso y goce del mismo; y el organizador no será responsable en caso de insatisfacción por los premios recibidos.
        <br>
        <br>
        4.  En caso de que el solista o los integrantes del equipo ganador NO cumplan con alguno de los requisitos antes mencionados, perderá el derecho a recibir el premio y se procederá a entregar el premio a la siguiente solista o equipo que se encuentre en la posición consecuente en la votación general y así sucesivamente hasta la entrega del premio correspondiente. El PARTICIPANTE ganador de la primera posición manifiesta y reconoce expresamente, que  pasada la fecha estipulada para la entrega del premio de dicha categoría,  Volkswagen de México S.A. de C.V. podrá disponer del PREMIO de conformidad con lo establecido, perdiendo cualquier derecho a recibir el PREMIO correspondiente, sin reservarse derecho o acción alguna que ejercer o iniciar en contra de Volkswagen de México S.A. de C.V
        <br>
        <br>
        5.  Es importante mencionar que el ganador deberá proporcionar datos de contacto reales para responder a las llamadas y/o correo electrónico y envíe vía electrónica los documentos que le hayan sido solicitados a fin de poder recibir el premio que se le haya otorgado. 
        <br>
        <br>
        6.  Es condición para la entrega de los premios, que el correspondiente ganador (o equipo) acepte ser entrevistado, fotografiado y/o filmado por el Organizador en cualquier momento con el fin de hacer un reportaje sobre el Concurso. El participante también deberá autorizar por escrito al Organizador para utilizar dichos materiales de la forma que estime conveniente para realizar actividades mercadotécnicas o publicitarios en medios masivos, sitios web y/o redes sociales de la marca SEAT. 
        <br>
        <br>
        <b>IX. Aviso a PARTICIPANTES: </b>
        <br>
        <br>
        Al aceptar los presentes TÉRMINOS, los PARTICIPANTES renuncian expresamente a cualquier cuestionamiento sobre los criterios o interpretaciones adoptados por Volkswagen de México S.A. de C.V. en relación a la presente dinámica.
        <br>
        <br>
        a) En caso de no presentar la documentación o información que en su caso le sea solicitada, el PARTICIPANTE acepta que será descalificado y no tendrá derecho a premio alguno en caso de haberse hecho acreedor al mismo. 
        <br>
        <br>
        b) La negativa expresa o falta de respuesta para validar los datos de participación e identificación después de 2 (dos) días hábiles de que Volkswagen de México S.A. de C.V. se haya puesto en contacto con el PARTICIPANTE, se otorga a Volkswagen de México S.A. de C.V. el derecho de seleccionar a otro PARTICIPANTE FINALISTA. 
        <br>
        c) No se entregará premio alguno en caso de: 
        <br>
        i) No haber dado cumplimiento de todas las condiciones y términos de <b>“Dance Challenge SEAT”</b>, siendo descalificado el PARTICIPANTE GANADOR que no los cumpla de forma íntegra. 
        <br>
        ii) No estar de acuerdo totalmente con los términos de <b>“Dance Challenge SEAT”</b>. 
        <br>
        iii) No acreditar fehacientemente su identidad o negarse a enseñar o proporcionar la documentación que Volkswagen de México S.A. de C.V. solicite con el único fin de comprobar, validar e identificar al PARTICIPANTE GANADOR que haya sido escogido o seleccionado. 
        <br>
        <br>
        d) Volkswagen de México S.A. de C.V. se reserva el derecho a descalificar a los PARTICIPANTES que pongan en riesgo la integridad y buen desarrollo de <b>“Dance Challenge SEAT”</b>, incluyendo “hackers”, que es el término utilizado para referirse a personas con grandes conocimientos en informática y telecomunicaciones que son empleados con objetivos personales con fines de lucro, el cual puede o no ser maligno o ilegal; o los “caza promociones”, que es todo aquel PARTICIPANTE que actúa solo o conjuntamente con recursos económicos, materiales o informativos de forma desleal frente a los otros PARTICIPANTES para obtener el beneficio de “Dance Challenge SEAT”  usando mecanismos poco éticos, morales o incluso ilegales. 
        <br>
        <br>
        e) Cualquier intento o ejecución de aplicación de programas o sistemas que pretendan atacar o vulnerar los procesos de <b>“Dance Challenge SEAT”</b>, podrá ser perseguido con las acciones legales pertinentes que a criterio de Volkswagen de México sean suficientes. Dicho intento traerá como consecuencia la inmediata descalificación y anulación del PARTICIPANTE responsable. 
        <br>
        <br>
        f) Ante cualquier sospecha referente a que los PARTICIPANTES infrinjan alguna de las políticas de los TÉRMINOS o en cualquier actividad o práctica que afecte negativamente la imagen de Volkswagen de México S.A. de C.V. y/o que desacredite y/o menoscabe la reputación y buen nombre, será inmediatamente descalificado sin responsabilidad alguna y no tendrá derecho a participar nuevamente, sin que dicha descalificación limite el derecho de Volkswagen de México S.A. de C.V. de ejercer las acciones legales que considere procedentes en contra de quienes resulten responsables. 
        <br>
        <br>
        El Organizador de <b>“Dance Challenge SEAT”</b>, así como sus directivos y empleados, no será responsables por cualquier daño o prejuicio originado por la imposibilidad o falta de resultados en el intento de contacto con los PARTICIPANTES, así como la aceptación de cualquier premio.
        <br>
        <br> 
        g) La Autorización del uso de las piezas musicales puestas a disposición de los participantes son estrictamente para uso de la participación en la presente dinámica, por lo que está prohibido darles un uso distinto al autorizado o para cualquier otro propósito. 
        <br>
        <br>
        De igual forma el participante deberá abstenerse de intentar realizar, o realizar cualquier tipo de adición, supresión, transformación o cualquier otra forma de alteración al contenido de las piezas musicales o alterar en forma alguna cualquier dato que identifique la titularidad de derechos de las piezas musicales. 
        <br>
        <br>
        Cualquier uso no autorizado de las piezas musicales  será violatorio de la Ley Federal de Derechos de Autor, Ley de la Propiedad Industrial, Leyes Civiles, Mercantiles, Penales y demás Leyes Nacionales o Internacionales aplicables.
        <br>
        <br>
        <b>X.- Responsabilidades.</b>
        <br>
        <br>
        Volkswagen de México S.A. de C.V. y su respectivo personal y/o funcionarios, no serán responsables:
        <br>
        <br>
        a)  Por cualquier daño o perjuicio, de cualquier tipo que fuere, que pudieren sufrir LOS PARTICIPANTES o terceros, sobre sus personas o bienes, con motivo de o con relación a su participación en “Dance Challenge SEAT” y/o por la utilización o consumo de cualquiera de los premios adquiridos.
        <br>
        <br>
        b)  Por fallas en la red telefónica o en el servicio de Internet o correo electrónico, ni por desperfectos técnicos y/o por errores humanos o acciones deliberadas de terceros que pudieran interrumpir o alterar el desarrollo de “Dance Challenge SEAT”.
        <br>
        <br>
        c)  Por posibles lesiones o alteraciones físicas, mentales o de cualquier índole que puedan sufrir o tener los PARTICIPANTES antes, durante o después de su participación o por producto de ella.
        <br>
        <br>
        d)  Por ningún caso de daños indirectos, incidentales o consecuenciales, incluyendo sin limitación alguna, pérdida de utilidades y/o lucro cesante.
        <br>
        <br>
        •   La responsabilidad del "Organizador" finaliza con la entrega de los premios.
        <br>
        <br>
        •   Volkswagen de México, S.A. de C.V. se reserva el derecho a eliminar de la competencia a cualquier usuario que genere faltas de respeto, amenazas, violencia verbal o cualquier acción negativa de toda índole contra otros usuarios o en contra de la marca comercial SEAT y/o Volkswagen de México, S.A. de C.V.
        <br>
        <br>
        <b>XI.-  Facultades del Organizador.</b>
        <br>
        <br>
        1.  Modificar las fechas de comienzo y finalización de “Dance Challenge SEAT”. 
        <br>
        <br>
        2.  Modificar los TÉRMINOS Y CONDICIONES de la presente dinámica por cualquier motivo, incluso para cancelar o disminuir los PREMIOS o promociones.
        <br>
        <br>
        3.  Cancelar, suspender o modificar “Dance Challenge SEAT” cuando circunstancias no imputables a Volkswagen de México S.A. de C.V. y no previstas en los TÉRMINOS Y CONDICONES del presente concurso, se constituyan en causas de caso fortuito o de fuerza mayor que lo justifiquen.
        <br>
        <br>
        4.  Entregar al PARTICIPANTE GANADOR un premio de igual valor, si las circunstancias le imposibilitan realizar el premio anteriormente mencionado.
        <br>
        <br>
        Toda modificación a los TÉRMINOS Y CONDICONES será comunicada al público en general, efectuando las publicaciones correspondientes en la página de Internet: <a href="www.seat.mx"> www.seat.mx </a>
        <br>
        <br>
        <b>XII- Contacto para aclarar dudas relacionadas con la promoción. </b>
        <br>
        <br>
        Para dudas o comentarios relacionados con el concurso “Dance Challenge SEAT” favor de comunicarse vía correo electrónico a la dirección <a  href="mailto:experiencia@seatmx.com"> experiencia@seatmx.com </a>
        <br>
        <br>
        <b>XIII.- Jurisdicción: </b>
        <br>
        <br>
        Para cualquier controversia que se suscite con motivo de la ejecución e interpretación de estas bases o que surja con motivo de este Concurso, las partes por el simple hecho de participar en la misma, renuncian expresamente a cualquier jurisdicción que pudiera corresponderles con arreglo a la Ley por razón territorial y aceptan someterse a la jurisdicción y competencia de los Tribunales de la Federales de la Ciudad de México.
        <br>
        </p>



    </div>



    <% include includes/scripts.ejs %>
    
    <script type="text/javascript">
        $(document).ready(function(){

            jQuery.validator.addMethod("lettersonly", function(value, element) {
              return this.optional(element) || /^[a-z," "]+$/i.test(value);
            }, "Letters only please"); 

            $(window).keydown(function(event){
                if(event.keyCode == 13) {
                  event.preventDefault();
                  return false;
                }
            });

            $(".submitRegistrationForm").click(function(){
                var error = false;
                var submitButton = $(this);
                $(".checkbox-required").each(function(){
                    var self = $(this);
                    var video = $("#video");
                    if(document.getElementById("video").files.length == 0){
                        error=true;
                        if(!video.next().hasClass("validation")){
                            video.after("<div class='validation' style='color:red;margin-bottom: 20px;'>Por favor selecciona un video.</div>");
                        }
                    }

                    if(self.is(":checked")){

                    }
                    else
                    {
                        if(!self.next().next().hasClass("validation")){
                            self.next().after("<div class='validation' style='color:red;margin-bottom: 20px;'>Este campo es obligatorio.</div>");
                        }
                        error=true;
                    }
                })

                if(!error){
                    submitButton.after("<div class='validation' style='color:gray;margin-bottom: 20px;'>Tu video se esta procesando.</div>");

                    $('#registerTeam').submit();
                }

            })
            var x = 1;

            var validator = $("#registerTeam").validate(
                {
                    rules: {
                        representativeName: { lettersonly: true },
                        representativeLastName: { lettersonly: true },
                        teamMemberName: { lettersonly: true },
                        teamMemberLastName: { lettersonly: true }
                      }
                });
            $(".child-container .continue").click(function(e){
                var error = false;
                var self = $(this);
                self.parent().find(".validthis").each(function(){
                    if(!validator.element($(this))){
                        error = true;
                    }
                });

                if(!error){
                    x++;
                    if(x<6){
                        $(".dot"+x).addClass("active");
                    }
                    self.parent().removeClass("active");
                    self.parent().next().addClass("active");
                }

            })


            var textInput = $(".team-name");
            var timeout = null;
            textInput.on('keypress', function (event) {
                var regex = new RegExp("^[a-zA-Z0-9]+$");
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                if (!regex.test(key)) {
                   event.preventDefault();
                   return false;
                }
            });

            textInput.keyup(function(e){
                
                if(textInput.next().hasClass("validation-check")){
                                textInput.next().remove();
                }
                else if(textInput.next().hasClass("validation")){
                                textInput.next().remove();
                };

                if(e.which == 13) {

                }
                else
                {
                    clearTimeout(timeout);
                    $(".team-name-continue").prop('disabled', true);
                    // Make a new timeout set to go off in 800ms
                    timeout = setTimeout(function () {
                        if(textInput.val().trim() != ""){
                            if(textInput.next().hasClass("validation-check")){
                                            textInput.next().remove();
                            }
                            else if(textInput.next().hasClass("validation")){
                                            textInput.next().remove();
                            };
                            textInput.after('<i class="validation-check fa fa-spinner fa-spin" aria-hidden="true" style="width:17px"></i>');

                            $.ajax({
                                url:"/team/checkTeamName",
                                method:"POST",
                                data:{team:textInput.val()},
                                success:function(data){
                                    if(data){
                                        if(textInput.next().hasClass("validation-check")){
                                            textInput.next().remove();
                                        };
                                        else if(textInput.next().hasClass("validation")){
                                            textInput.next().remove();
                                        };

                                        textInput.after('<i class="validation-check fa fa-check green"></i>');
                                        $(".team-name-continue").prop('disabled', false);
                                        textInput.css("border-color","#399931");


                                    }
                                    else
                                    {
                                        if(textInput.next().hasClass("validation-check")){
                                            textInput.next().remove();
                                        };
                                        else if(textInput.next().hasClass("validation")){
                                            textInput.next().remove();
                                        };
                                        //textInput.after('<i class="validation-check fa fa-times red"></i>');
                                        textInput.after("<div class='validation' style='color:red;margin-bottom: 20px;'>Este nombre de equipo ya existe, por favor, elige un nuevo nombre.</div>");
                                        $(".team-name-continue").prop('disabled', true);
                                        textInput.css("border-color","#a83636");

                                    }
                                    console.log(data);
                                },
                                error:function(err){
                                    console.log(err)
                                }
                            })
                        }
                        else {
                            if(textInput.next().hasClass("validation-check")){
                                textInput.next().remove();
                                textInput.css("border-color","#8C8C8C");
                            };
                        }

                    }, 500);
                }

            })



            $.getJSON("states.json", function(json) {
                var states=json;
                $("#stateNames").on("change", function(){
                    var state = this.value;
                    console.log(state);
                    $("#cityNames").html("");
                    $("#cityNames").append('<option value="">Selecciona un municipio</option>');

                    states[state].forEach(function(city){
                        console.log(city);
                        $("#cityNames").append("<option value="+city+">"+city+"</option>");
                    })
                });
            });
            $("#cityNames").on("change", function(){
              $(".city-continue").prop('disabled', false);
            });




            var cld = cloudinary.Cloudinary.new({ cloud_name: "annaraujo", secure: true});
            var demoplayer = cld.videoPlayer('demo-player');



            $("#video").change(function(){
                $(".video-container").hide();
                $(".loader").show();
                $(".video-error").html("");
                var form = this.files[0];
                var data = new FormData();
                jQuery.each(jQuery('#video')[0].files, function(i, file) {
                    data.append('video', file);
                });
                $.ajax({
                      url: '/team/upload/video',
                      type: 'POST',
                      success: function (res) {
                        var path = res.public_id;
                        demoplayer.source(path);
                        $(".loader").hide();
                        $(".video-container").show();
                        $(".submitRegistrationForm").prop("disabled",false);
                        $("#video-url-input").val(res.url);
                        $("#duration").val(res.duration);
                        $("#public_id").val(res.public_id);
                      },
                      error:function(err){
                        $(".loader").hide();
                        $(".video-error").html('<p class="red">'+err.responseJSON.error+"</p>");
                        $(".video-container").show();
                        $(".submitRegistrationForm").prop("disabled",true);
                        console.log(err);
                      },
                      cache: false,
                      data: data,
                      contentType: false,
                      processData: false
                  });
            });
        });

    </script>
</body>
</html>
